@using Explosives.Models

@model MunitionsPO

@{
    ViewBag.Title = "Create";
}

<h2>Create Munition</h2>

@using (Html.BeginForm("Create", "Munitions", FormMethod.Post))
{
    @* HiddenFor user cannot see but need passed *@
    @Html.HiddenFor(model => Model.TopicID)

    @* Layout for creating munition *@
    <div class="form-horizontal">
        @Html.LabelFor(model => Model.Munition)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.Munition, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.Munition, "", new { @class = "label label-danger" })
        </div>
    </div>
    <div class="form-horizontal">
        @Html.LabelFor(model => Model.Description)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.Description, "", new { @class = "label label-danger" })
        </div>
    </div>

    @* Submit button at bottom of form *@
    <input type="submit" value="Create Munition" id="btnSubmit" />
}